@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Prata&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s linear;
  font-family: "Lato", sans-serif;
}
body {
  background: #2a2f32;
}
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
.quote-box {
  max-width: 500px;
  width: 95%;
  min-height: 300px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px 35px;
  margin: 50px auto 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.quote-box h2 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  position: relative;
}
.quote-box h2::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 110%;
  transform: translate(-50%);
  max-width: 80px;
  width: 90%;
  height: 1.8px;
  background: #1256b0;
}
.show-quote {
  padding: 15px 15px 20px;
  background: hsl(0, 0%, 99.3%);
  border-radius: 10px;
}
blockquote {
  font-size: 15px;
  text-align: left;
  letter-spacing: 0.3px;
  word-spacing: 2px;
  line-height: 1.8rem;
  font-family: "Prata", serif;
}
blockquote::before,
blockquote::after {
  content: '"';
}

span {
  font-size: 14px;
  color: #222;
  position: relative;
  float: right;
  font-family: "Inconsolata", monospace;
  margin-top: 10px;
}
span::before {
  content: "";
  width: 14px;
  height: 0.5px;
  background: #1256b0;
  position: absolute;
  top: 50%;
  left: -14%;
  transform: translate(-50%);
}
button {
  width: 90px;
  height: 40px;
  border-radius: 10px;
  background: #1256b0;
  color: #fff;
  padding: 8px 10px;
  transition: 0.3s linear;
  border: 1px solid #1256b0;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.6);
  cursor: pointer;

  &:hover {
    background: #044191;
  }
}
button:nth-child(2) {
  width: 105px;
  margin-left: 15px;
  background: #fcfcfc;
  color: #333;
  &:focus {
    border: 1.3px solid #fe5d18;
  }
}
section {
  max-width: 580px;
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 35px;
  margin: 0 auto;
  color: #fff;
}
section h1 {
  font-size: 28px;
  font-weight: 500;
}
section p {
  font-size: 16px;
}
section ul {
  padding-left: 23px;
  font-size: 15px;
  list-style-type: square;
}
footer {
  background: #222;
  padding: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
}
footer p {
  font-size: 14px;
}
@media screen and (max-width: 480px) {
  footer {
    gap: 20px;
  }
  footer p {
    font-size: 10px;
  }
}
